
{% extends "base.html" %}
{% block title %}Computers{% endblock %}
{% block header %}Computers{% endblock %}
{% block content %}
<a href="/computers/add">Add New Computer</a>
<table border="1" cellpadding="8">
  <tr><th>Serial Number</th><th>Surveyor ID</th><th>Actions</th></tr>
  {% for c in computers %}
    <tr>
      <td>{{ c.serial_number }}</td>
      <td>{{ c.surveyor_id }}</td>
      <td>
        <a href="/computers/delete/{{ c.id }}">Delete</a>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
