
{% extends "base.html" %}
{% block title %}Companies{% endblock %}
{% block header %}Companies{% endblock %}
{% block content %}
<a href="/companies/add">Add New Company</a>
<table border="1" cellpadding="8">
  <tr><th>Name</th><th>ID</th><th>Email</th><th>Phone</th><th>Director</th><th>Actions</th></tr>
  {% for c in companies %}
    <tr>
      <td>{{ c.company_name }}</td>
      <td>{{ c.company_id }}</td>
      <td>{{ c.email }}</td>
      <td>{{ c.mobile_number }}</td>
      <td>{{ c.director }}</td>
      <td>
        <a href="/companies/edit/{{ c.id }}">Edit</a> |
        <a href="/companies/delete/{{ c.id }}">Delete</a>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
