
{% extends "base.html" %}
{% block title %}Company Form{% endblock %}
{% block header %}{{ 'Edit' if company else 'Add' }} Company{% endblock %}
{% block content %}
<form method="post">
  <input type="text" name="company_name" placeholder="Company Name" value="{{ company.company_name if company else '' }}" required /><br>
  <input type="text" name="company_id" placeholder="Company ID" value="{{ company.company_id if company else '' }}" required /><br>
  <input type="text" name="email" placeholder="Email" value="{{ company.email if company else '' }}" /><br>
  <input type="text" name="mobile_number" placeholder="Mobile Number" value="{{ company.mobile_number if company else '' }}" /><br>
  <input type="text" name="director" placeholder="Director" value="{{ company.director if company else '' }}" /><br>
  <button type="submit">Submit</button>
</form>
{% endblock %}
