
{% extends "base.html" %}
{% block title %}Add License{% endblock %}
{% block header %}Add License{% endblock %}
{% block content %}
<form method="post">
  <select name="computer_id">
    {% for c in computers %}
      <option value="{{ c.id }}">Computer {{ c.id }} ({{ c.serial_number }})</option>
    {% endfor %}
  </select><br>
  <select name="paid">
    <option value="true">Paid</option>
    <option value="false">Unpaid</option>
  </select><br>
  <input type="date" name="expire_date" required /><br>
  <button type="submit">Add</button>
</form>
{% endblock %}
